html{
    background-image: url(./Images/japan_interior.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    width: 100%;
    display: block;
    height: 20%;
    border-style: solid;
    border-radius: 10%;
    border-color:rgb(15, 126, 7) ;
    background-color:rgba(15, 126, 7, 0.5)  ;
}

h1,h2,p{
    color: white;
    text-align: center;
}

h1{
    font-style: italic;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

div{
    flex:1;
    background-color: rgba(74, 67, 57, 0.5);
}
